<html>
	<head>
		<title>{{ node.name }}</title>
	</head>
	<body>
{% if node.parent %}
	<ul>
	{% for babbo in node.parent.all %}
		<li><a href="{% url 'ShowNode' babbo.id %}">{{ babbo.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

		<h1>{{ node.name }}</h1>
		<p>{{ node.text }}</p>

{% if node.children %}
		<ul>
	{% for child in node.children.all %}
			<li><a href="{% url 'ShowNode' child.id %}">{{ child.name }}</a></li>
	{% endfor %}
		</ul>
{% endif %}

{% if node.links %}
		<ul>
	{% for link in node.links.all %}
			<li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
	{% endfor %}
		</ul>
{% endif %}
	</body>
</html>
